@font-face {
  font-family: Brevia;
  src: url(../Fonts/Brevia-Regular.otf);
}
@font-face {
  font-family: AvrileRegular;
  src: url(../Fonts/AvrileSans-Regular.ttf);
}
@font-face {
  font-family: AvrileMedium;
  src: url(../Fonts/AvrileSans-Medium.ttf);
}
@font-face {
  font-family: AvrileBold;
  src: url(../Fonts/AvrileSans-Bold.ttf);
  font-weight: bold;
}
$whiteColor: #fff;
$blueColor: #97d8de;
$greyColor: #3f505a;